<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:beans="http://www.springframework.org/schema/beans"  
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:util="http://www.springframework.org/schema/util" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd  
            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd  
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
	default-autowire="byName" default-lazy-init="true">
	

	<global-method-security pre-post-annotations="enabled" />

	<http pattern="/static/**" security="none"/>
	<http pattern="/commons/**" security="none"/>
	<http pattern="/ext4.1/**" security="none"/>
	<http pattern="/loggedout.jsp" security="none"/>	

	<http>
		<intercept-url pattern="*.do" access="hasAuthority('supervisor')"/>
		<intercept-url pattern="/secure/**" access="authenticated" />
		<intercept-url pattern="/modules/**" access="hasAuthority('supervisor')" />		
		<!--
			Allow all other requests. In a real application you should
			adopt a whitelisting approach where access is not allowed by default
		<intercept-url pattern="/**" access="permitAll" />			
		-->

		<form-login />
		<logout logout-url="/logout" logout-success-url="/loggedout.jsp" delete-cookies="JSESSIONID"/>
		<remember-me />
		
		<!-- Uncomment to limit the number of sessions a user can have -->
		<session-management invalid-session-url="/timeout.jsp">
			<concurrency-control max-sessions="5" error-if-maximum-exceeded="true" />
		</session-management>

	</http>

	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="encoder"/>
			<user-service>
				<user name="rod" password="$2a$10$EblZqNptyYvcLm/VwDCVAuBjzZOI7khzdyGPBr08PpIi0na624b8." authorities="supervisor, user, teller" />
				<user name="dianne" password="$2a$10$trT3.R/Nfey62eczbKEnueTcIbJXW.u1ffAo/XfyLpofwNDbEB86O" authorities="user,teller" />
				<user name="scott" password="$2a$06$eChwvzAu3TSexnC3ynw4LOSw1qiEbtNItNeYv5uI40w1i3paoSfLu" authorities="user" />
				<user name="user" password="$2a$10$EblZqNptyYvcLm/VwDCVAuBjzZOI7khzdyGPBr08PpIi0na624b8." authorities="ROLE_USER" />
				<user name="admin" password="$2a$10$EblZqNptyYvcLm/VwDCVAuBjzZOI7khzdyGPBr08PpIi0na624b8." authorities="supervisor, user, teller"/>				
			</user-service>
		</authentication-provider>
	</authentication-manager>
		
</beans:beans>
